@use '../assets/styles/styles' as *;

.chat-container {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @include screen-1440{
    min-width: 380px;
  }
}

// Header styling
.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  border-bottom: 1px solid #ddd;

  .back-icon, .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .profile {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .name-status {
      margin-left: 10px;

      h4 {
        margin: 0;
        font-size: 16px;
      }

      .status {
        font-size: 12px;
        color: green;
      }
    }
  }
}

.chat-body {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .message-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    max-width: 80%;

    &.received {
      justify-content: flex-start;

      .chat-avatar {
        margin-right: 8px;
        margin-bottom: 8px;
      }

      .chat-message {
        background: #eaeaea;
        color: black;
      }
    }

    &.sent {
      justify-content: flex-end;
      align-self: flex-end;

      .chat-message {
        background: #007bff;
        color: white;
      }
    }

    .chat-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .chat-message {
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
      // word-wrap: break-word;
      max-width: 100%; // Miracle is a fine girl
    }

    .chat-image {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  border-top: 1px solid #ddd;

  input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background: #f0f0f0;
    outline: none;
    margin: 0 8px;
  }

  .file-upload{
    input {
      display: none;
    }
  }

  .icon {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    color: #777;
  }

  .send-icon {
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
  }
}
